<ion-view >
    <ion-nav-title>
        {{$ctrl.album.name}}
    </ion-nav-title>
    <ion-content class="padding">
        <div ng-if="$ctrl.album" class="list card">
            <div class="item item-avatar">
                <img ng-src="{{$ctrl.getImage($ctrl.album, 'small')}}">
                <h2>{{$ctrl.artistname}} - {{$ctrl.album.name}}</h2>
                <h3>
                    <strong>Listeners</strong>: {{$ctrl.album.listeners}} -
                    <strong>Play Count</strong>: {{$ctrl.album.playcount}}
                </h3>
            </div>
            <div class="item item-body">
                <div class="row responsive-md">
                    <div class="col">
                        <a ng-href class="image-link" ng-click="$ctrl.openLink($ctrl.album.url)">
                            <img ng-src="{{$ctrl.mainimage}}" alt="{{$ctrl.artistname}}">
                        </a>
                    </div>
                    <div class="col">
                        <h2 class="album-title">{{$ctrl.album.name}}</h2>
                        <ion-list>
                            <ion-item class="item-icon-left"
                                ng-repeat="track in $ctrl.album.tracks.track">
                                <i class="icon ion-arrow-right-b"></i>
                                <a ng-href ng-click="$ctrl.openLink(track.url)">{{ track.name }}</a> ({{$ctrl.getDuration(track.duration)}})
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>