<ion-view>
    <ion-nav-title>
        API Tests
    </ion-nav-title>
    <ion-content class="padding">
        <div class="row">
            <div class="col col-33">
                <div class="card">                   

                    <api-input api-methods="$ctrl.apiMethods" on-call="$ctrl.apiCall(data, params)"></api-input>
                    
                </div>
            </div>
            <div class="col col-67">
                <div class="card json-card">
                    <pre>{{$ctrl.output || json}}</pre>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>